@model ExpenseTypeDto

<form asp-controller="ExpenseType" asp-action="AddExpenseType" method="post">
    <div class="form-group">
        <label asp-for="TypeName" class="control-label">Gider Tipi Adı</label>
        <input type="text" asp-for="TypeName" class="form-control" />
        <span asp-validation-for="TypeName" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-success">Ekle</button>
</form>